<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Brown–Driver–Briggs | A Hebrew and English Lexicon of the Old Testament</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/static/dictionary/styles.css">
    </head>
    <body>
        <header class="header">
            <h1>Brown–Driver–Briggs</h1>
            <h2>A Hebrew and English Lexicon of the Old Testament</h2>
        </header>
        <div class="wrapper">
            <div class="nav">
                {% block letters %}
                <ul class="letters">
                    {% for letter in hebrew %}
                    <li id="letter_{{letter.id}}" class="letter{% if letter.id == active_root.letter_id %} active-letter{% endif %}">{{letter.char}}
                        <ul class="roots">
                            {% for root in letter.root_set.all %}
                            <li id="root_{{root.id}}" data-page="{{root.page_id}}" class="root{% if root.id == active_root.id %} active-root{% endif %}"><a class="root-link" dir=rtl href="{% url 'page' root.page_id %}?root={{root.id}}">
                                {{root.root}}{% if root.homophone != '' %}&ensp;<span dir=ltr class="homophone">{{root.homophone}}&ensp;–</span>{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% endblock letters %}
            </div>
            {% block page %}
            <div class="page-view">
                <div class="page-nav">
                    {% if prev_page %}    
                    <a class="prev"
                        href="{% url 'page' prev_page.number %}">«&nbsp;Prev</a>
                    {% else %}
                    <a class="prev" href="/page/1118/">«&nbsp;Prev</a>
                    {% endif %}    
                    {% if next_page %} 
                    <a class="next"
                        href="{% url 'page' next_page.number %}">Next&nbsp;»</a>
                    {% else %}
                    <a class="next" href="/page/1/">Next&nbsp;»</a>    
                    {% endif %}
                </div>
                <div class="page-img">
                    <img src="{{img_url}}" alt="BDB Page {{page.number}}">
                </div>
            </div>
            {% endblock page %}
        </div>
        <script src="/static/dictionary/scripts.js"></script>
    </body>
</html>