<!doctype html>
<html class="no-js" lang="">
    {{> head }}
    <body>
        <header class="header">
            <h1>A Hebrew and English Lexicon of the Old Testament</h1>
            <h2>Facsimile Edition</h2>
            {{!-- <h3>By Francis Brown, S. R. Driver, and Charles A. Briggs</h3> --}}
        </header>
        <div class="wrapper">
            {{> nav }}
            <div class="page-view">
                {{> page-nav page=page}}
                <div class="page-img">
                    <img src="/images/{{page.section}}_{{page.id}}.png" alt="BDB Page {{page.id}}">
                </div>
            </div>
        </div>
        <script src="/assets/scripts.js"></script>
    </body>
</html>